<!DOCTYPE html>
<html>

<!-- Load core scripts -->
<head>
  <title>Google Trend Index</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://thekerrlab.com/tmp/d3.v5.min.js"></script>
  <script src="http://thekerrlab.com/tmp/mpld3.v0.4.1.min.js"></script>
  <script src="https://unpkg.com/vuejs-datepicker"></script>
  <link href='https://fonts.googleapis.com/css?family=Avenir' rel='stylesheet'>
  <style>
  body {
      font-family: 'Avenir';
      font-size: 0.8em;
  }

  .app {
    padding: 20px;
    justify-content: center;
    display: flex;
  }

  .controls {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 20px;
    border: solid 2px #aaa;
  }
  </style>
</head>


<!-- Define the layout -->
<body>
  <div id="app" class="app">
    <div>
      <h1>Google Trend Index</h1>
      <div class="controls">
        <b>Trend index</b><br>
        <select v-model="trendselection">
          <option v-for='trendoption in trendoptions'>{{ trendoption }}</option>
        </select>
        <br>
        <br>
        <b>Date range</b>
        <br>
        <vuejs-datepicker v-model="startdate" style="display:inline-block;"></vuejs-datepicker>
        to
        <vuejs-datepicker v-model="enddate" style="display:inline-block;"></vuejs-datepicker>
        <br>
        <br>
        <input type="checkbox" v-model="trendline"><b>Overlay smooth trend line</b></input>
      </div>
      <div id="trend"></div>
    </div>
  </div>
</body>

<!-- Define the functionality -->
<script>
  var vm = new Vue({
    el: '#app',

    components: {
      vuejsDatepicker
    },

    data() {
      return {
          trendselection: 'Travel',
          trendoptions: [],
          startdate: new Date(2007, 0, 1),
          enddate: new Date(2017, 6, 31),
          trendline: false,
        }
      },

    created: function () {
        axios.post('http://localhost:8080/api/getoptions') // Use a POST request to pass along the value.
        .then(function (response) {
            vm.trendoptions = response.data
            vm.plotdata()
        })
      },

    watch: {
      trendselection: function() { this.plotdata() },
      startdate:      function() { this.plotdata() },
      enddate:        function() { this.plotdata() },
      trendline:      function() { this.plotdata() },
    },

    methods: {
      plotdata: function () {
        var url = 'http://localhost:8080/api/plotdata'
        url += '/' + vm.trendselection
        url += '/' + vm.startdate.toISOString().substring(0, 10)
        url += '/' + vm.enddate.toISOString().substring(0, 10)
        url += '/' + vm.trendline
        axios.post(url) // Use a POST request to pass along the value.
        .then(function (response) {
          document.getElementById('trend').innerHTML = ''; // Clear the DOM before redrawing
          mpld3.draw_figure('trend', response.data);
        })
      },
    }
  })
</script>

</html>