# Dependencies for documentation
pandoc
pypandoc
sphinx>=1.8
sphinx-autodoc-typehints
pydata-sphinx-theme
sphinx-design
ipykernel # For tutorials
nbconvert==7.13.0 # For tutorials; >=7.14 causes mangled output
nbsphinx # For tutorials
scipy # For optimization examples
dask # For parallel examples