# Dependencies for documentation
pandoc
pypandoc
sphinx>=1.8
sphinx-autodoc-typehints
pydata-sphinx-theme
sphinx-design
ipykernel # For tutorials
nbsphinx # For tutorials
scipy # For optimization examples
dask # For parallel examples