
// Textbox
// =======

// NOTEs (gchadder3): 
// * There is Angular (ng) specific stuff here that needs to be removed 
// or replaced.
// * icons/arrows.svg is referenced later, though I don't understand yet 
// for which elements.

.txbox {
  @extend .txbox.__m;
  @extend .txbox.__white;
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: block;
  transition: 0.33s opacity;
  width: 100%;

  &:focus {
    border-color: #00aeef;
    outline: 0;
  }

  // Validation
  // ----------

  &.ng-invalid-less-than:not(:focus) {
    color: $color-red;
  }

  &.ng-invalid-more-than:not(:focus) {
    color: $color-red;
  }

  &.__invalid:not(:focus) {
    color: $color-red;
  }

  input.__invalid:not(:focus) {
    border-color: rgba(#FF0000, 0.8);
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    @include font-height(13px, 16px);
    padding: 5px;
    border-radius: 2px;
  }

  &.__s {
    padding: 3px;
    border-radius: 2px;
  }

  &.__year {
    width: 60px;
  }

  // ### Colours

  &.__white {
    background: #FFF;
    border-color: #cccccc;
  }

  // ### Positions

  &.__inline {
    @extend .txbox.__inline.__m;
    display: inline;

    &.__xl {
      width: 110px;
    }

    &.__l {
      width: 85px;
    }

    &.__ll {
      width: 100px;
    }

    &.__lm {
      width: 85px;
      height: 80%;
    }

    &.__ls {
      width: 85px;
      height: 100%;
      padding: 0;
    }

    &.__m {
      width: 65px;
    }

    &.__s {
      width: 48px;
    }
  }
}

//
// 1. Remove default arrow on WebKit
// 2. Remove default arrow in Firefox
// 3. Remove default arrow in IE 10/11
//

select.txbox {
  background: inline('icons/arrows.svg') no-repeat 100% 50%;
  cursor: default;
  border-radius: 3px;
  -webkit-appearance: none; // 1
  text-indent: 0.01px; // 2
  text-overflow: ''; // 2

  &::-ms-expand {
    display: none; // 3
  }
}

textarea.txbox {
  resize: none;
}